body {
  background-image: url('../images/body-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Muli', sans-serif;
}

[class^="flaticon-"]::before {
  margin: 0 10px;
}

#header {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

#header .right-col {
  text-align: right;
  padding-right: 0;
}

#header .buttons-container, #header .form-container {
  display: inline-block;
  position: relative;
}

#header .buttons-container {
  margin-right: 15px;
}

#header .form-container .button {
  position: absolute;
  right: 0;
  top: 15px;
}

#header .button {
  background: none;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  transition: color 0.2s;
}

#header .button:hover {
  color: #f0bb03;
}

.favorite {
  color: #f0bb03 !important;
}

.logo {
  font-size: 21px;
  margin: 0 0 0 45px;
  padding: 18px 0;
}

#search {
  display: inline-block;

}

#search input {
  width: 360px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  border: none;
  padding: 19px 25px;
}

#main {
  margin-top: 60px;
}

#weather-main, #cities {
  margin: 0 45px 45px;
  /* min-height: 525px; */
}

#weather-main {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  color: #ffffff;
  text-align: center;
  padding: 50px;
}

#cities {
  background-color: rgba(255, 255, 255, 0.25);
}

#main-details, #main-details #main-temp {
  position: relative;
}

#main-details #main-temp .degrees{
  font-size: 100px;
}

#main-details #main-temp .temp-type {
  position: absolute;
  top: 34px;
  right: -30px;
  font-size: 22px;
}

#main-weather-image {
  position: absolute;
  top: 38px;
  margin-left: -75px;
}

#main-weather-image img {
  width: 80px;
  height: 80px;
}

#main-details #weather-condition {
  margin-bottom: 25px;
}

#secondary-details .first-row, #secondary-details .second-row {
  margin-bottom: 10px;
}

#secondary-details .first-row > span, #secondary-details .second-row > span {
  margin-right: 30px;
}

#secondary-details .first-row > span:last-child, #secondary-details .second-row > span:last-child {
  margin-right: 0;
}

#cities {
  color: #ffffff;
}

#cities ul, #five-days ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#cities ul li {
  padding: 4.4px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}

#cities ul li:last-child {
  border-bottom: none;
}

#cities ul li:hover {
  background-color: rgba(255, 255, 255, 0.20)
}

.weather-image {
  height: 50px;
}

#daily {
  color: #ffffff;
}

#five-days {
  margin: 0 45px 45px;
}

#five-days ul {
  margin-top: 20px;
}

#five-days ul li {
  display: inline-block;
  width: 19.1%;
}

.day-item .date {
  font-size: 24px;
}

.day-item .temperature {
  font-size: 30px;
}

.day-item .weather-condition {
  font-size: 18px;
}

#googleMap{
  width: 700px;
  height: 700px;
}

#gmapModal .modal-body {
  padding: 0;
}

#gmapModal .modal-dialog {
  max-width: 700px;
}

/* Utilities */
.display-inline-block {
  display: inline-block;
}

.equal-width {
  width: 24%;
  display: inline-block;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Responsive Breakpoints */
@media (max-width: 767.98px) {
  #search input {
    width: 180px;
  }

  #header .buttons-container {
    margin-right: 7px;
  }

  #header .button {
    margin: 0 3px;
  }

  .hidden-phone {
    display: none !important;
  }

  #main {
    margin-top: 50px;
  }

  #weather-main {
    padding: 35px;
  }

  #main-details #main-temp .degrees {
    font-size: 60px;
  }

  #main-details #main-temp .temp-type {
    font-size: 18px;
    top: 20px;
  }

  #main-weather-image {
    top: 5px;
  }

  #secondary-details .first-row > span, #secondary-details .second-row > span {
    margin-right: 0;
    display: block;
  }

  .equal-width {
    width: 23.5%;
  }
}

@media (max-width: 575.98px) {
  #header .buttons-container {
    margin-right: 0;
  }

  #header .button {
    margin: 0;
  }

  #search input {
    width: 160px;
  }

  .equal-width {
    display: block;
    text-align: left;
    width: 100%;
  }

  #five-days ul li {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #header .buttons-container {
    margin-right: 5px;
  }

  #header .button {
    margin: 0;
  }

  #search input {
    width: 215px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #header .button {
    margin: 0 3px;
  }

  #search input {
    width: 295px;
  }

  #weather-main {
    margin: 0 15px 0 45px;
  }

  #cities {
    margin: 0 45px 0 15px;
  }

  .equal-width {
    width: 23.5%;
  }
}